# ==============================
# EVOWATT / EasyCharging
# ==============================
EC_ACCOUNT=
EC_PASSWORD=
EC_DEVICE_ID=

EC_COUNTRY_CODE=BR
EC_MONETARY_UNIT=R$
EC_MONETARY_CODE=BRL
EC_LANG=pt_BR

# ==============================
# Debug
# ==============================
DEBUG=false

# ==============================
# Comportamento do Bridge
# ==============================
POLL_SEC=15
HISTORY_SEC=900
DEBUG=false

# ==============================
# MQTT
# ==============================
MQTT_HOST=mqtt
MQTT_PORT=1883
MQTT_USERNAME=
MQTT_PASSWORD=

DISCOVERY_PREFIX=homeassistant
MQTT_BASE=evowatt